/* base */

.goal {
  width: 1000px;
  display: block;
  margin: 0 auto 30px;
}

.goal p {
  margin-bottom: 20px;
  font-size: 1.4em;
}

.clearfix::after {
  content : " ";
  display : block;
  clear : both;
}

/* -------- ここから下にstyleを書いてください -------- */
.container_01{
  width: 1000px;
  display: block;
  margin: auto;
}
.left_01.left_01{
  float: left;
  width: 480px;
}
.right_01{
  float: right;
  width: 480px;
}
img{
  width: 100%;
  height: auto;
}


.container_02{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
}

.left_02,
.right_02{
  width: 480px;

}

.container_03{
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.box_01{
  width: 400px;
  background: #2ecc71;
}

.box_02{
  width: 580px;
  background: #1abc9c;
}

.box_01,
.box_02{
  padding: 30px;
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
}
.inner{
  padding: 20px;
  background: #ffffff
}


/* -------- Level 3 background-olor -------- */

/* --------
.box_01 : #2ecc71
.box_02 : #1abc9c
.inner : #fff
 -------- */