.global-header{
    width:320px;
    height:40px;
    background: #252525;
}

.article-area{
    width: 320px;
    height: 1340px;
}

.subtitle{
    font-size: 24px;
    color: #252525;
}

.article-title{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: #252525;
}

.article-main{
    width:320px;
    height:760px;
    margin: 0 auto;
}

.text{
    color:#252525;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article-orderlist{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6e6e6e;
}

.side-by-side{
    display: flex;
}

.article-list{
    color:#6e6e6e;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.blockquote{
    color:#6e6e6e;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.share{
    width: 320px;
    height: 70px;
    text-align: center;
}

.author{
    display: flex;
    width:320px;
    height:140px;
}

.author-pic{
    text-emphasis:center;
}

.author-title{
    color:#252525;
    font-size:14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.author-name{
    color:#252525;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.author-introduction{
    color: #252525;
    font-size: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.article-navigation{
    display: flex;
}

.navigation-right{
    color:#ff015d;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigation-left{
    color:#ff015d;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.copyright{
    width: 320px;
    height:30px;
    background-color: #6e6e6e;
    color: #ffffff;
    font-size:12px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}