/*  -------- cssの書き方 --------
セレクタ {
  プロパティ: 値;
}

例：
h1 {
  color: red;
}

参考：https://saruwakakun.com/html-css/reference/selector
-------- cssの書き方ここまで -------- */
#level1{
  color: red;
}

#box{
  width: 500px;
  height: 300px;
  background-color: blue;
  border: yellow solid 5px;
  color: white;
}

#no1{
  color: #3498db;
}

#no2{
  color: #e67e22;
}

#box2{
  width: 500px;
  height: 300px;
  vertical-align: middle;
  color: gray;
}