/*
①import機能
*/

@import "./base.scss";

/*
② 変数を使える

Sassでは $hoge: bar; のように、何度も使用する数値を変数にすることができます。
例えば、サイトのメインカラーを $main_color: red; などと定義しておくことで、同じ色を使用する際にいちいちと記述しなくて済むようになります。また、メインカラーに変更があった際には $main_color: blue; と変数を修正すれば、同じ色を使用している箇所を一気に修正することができます。
変数は下記のように使用します。

$site_width: 1000px;
$text_color: #1a1a1a;

.main {
  width: $site_width;
  color: $text_color;
}

変数を用意したので、使ってみましょう。
*/

$main_color: #00a8ff;
